.container-fluid {
	padding: 0 5%;
}

.dashboard-nav {
	width: 200px;
	top: 0;
	left: 0;
	background-color: royalblue;
	color: white;
	transition: 0.5s;
}

.dashboard-nav.change {
	width: 60px;
}

.brand.change,
.link-span.change {
	display: none;
}

.nav-toggle {
	display: none;
	width: 20px;
	z-index: 100;
	height: 20px;
	flex-direction: column;
	justify-content: space-around;
	cursor: pointer;
	transition: 0.5s;
}

.nav-toggle.change {
	transform: translateX(15px);
}

.toggle-icon {
	width: 100%;
	height: 4px;
	background-color: var(--whiteColor);
	transition: 0.5s;
}

.nav-toggle.change .toggle1 {
	transform: rotate(45deg) translateY(10px);
}

.nav-toggle.change .toggle2 {
	opacity: 0;
}

.nav-toggle.change .toggle3 {
	transform: rotate(-45deg) translateY(-10px);
}

.nav-menu {
	list-style: none;
}

.dashboard-main {
	margin-left: 200px;
	transition: 0.5s;
}

.dashboard-main.change {
	margin-left: 60px;
}

.dashboard-header {
	border-bottom: 1px solid royalblue;
}

.dashboard-header .container-fluid {
	height: 70px;
}

.dashboard-header img {
	border-radius: 50%;
}

.bal-image img {
	width: 50px;
	height: 50px;
}

.bal {
	background-color: rgba(0, 0, 0, 0.1);
}

.form-btn {
	border: 0;
	outline: 0;
	border-radius: 5px;
	background-color: royalblue;
	color: white;
}

.market-table thead {
	background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
	.dashboard-nav {
		width: 60px;
		z-index: 100;
	}

	.brand,
	.link-span {
		display: none;
	}

	.nav-toggle {
		transform: translateX(12px);
	}

	.nav-toggle.change {
		transform: translateX(0);
	}

	.brand.change,
	.link-span.change {
		display: inline;
	}

	.dashboard-nav.change {
		width: 250px;
	}

	.dashboard-main {
		margin-left: 60px;
	}
}

@media (max-width: 575px) {
	.market .row {
		overflow-y: auto;
	}
}
